.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login h1{
    font-weight: 400;
    font-size: 200%;
    color: white;
}

.login-form{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1rem 0rem;
}

.login-feild{
    display: flex;
    flex-direction: column;
    padding: 1rem ;
    width: 40%;
    background-color: #eee;
    border-radius: 20px;
}

.login-feild label{
    font-size: 90%;
}

.login-feild input{
    border: none;
    outline: none;
    font-size: 110%;
    background-color: #eee;
    margin: 0.25rem 0rem;
    border-bottom: solid 2px black ;
}

.login-button{
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    background-color: #FF805D;
    font-size: 120%;
    border-radius: 20px;
    cursor: pointer;
}


.signup-option{
    /* width: 20rem; */
    /* text-align: right; */
    font-size: 120%;

    color: white;
}
@media screen and (max-width: 480px) {

    .login-feild{
        width: 80%;
    }
    

    .login h1{
        font-size: 170%;
    }    
}